.subscribe {
    background-color: #FFEFEC;
}

.subscribe__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-start: 103px;
    padding-block-end: 103px;
}

.subscribe__block-text {
    max-width: 675px;
    width: 100%;
}

.subscribe__block-title {
    font-family: var(--sub-front), sans-serif;
    font-size: 46px;
    line-height: 58px;
    font-weight: 700;
    letter-spacing: 0.5%;
}

.subscribe__block-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.8px;
    margin-block-start: 13px;
}

.subscribe__block-form {
    max-width: 470px;
    width: 100%;
    margin-right: 28px;
}

.subscribe__from {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg);
    border-radius: 56px;
    padding: 5px 5px 5px 26px;
    max-width: 470px;
    width: 100%;
}

.subcribe__form-input {
   max-width: 350px;
   width: 100%;
}

.subcribe__form-input:focus {
    outline: none;
}

.subcribe__form-button {
    font-size: 18px;
    font-weight: 500;
    padding: 15px 20px;
    background-color: var(--accent-color);
    color: var(--button-text-color);
    border-radius: 56px;
    cursor: pointer;
    transition: var(--transition);
}

.subcribe__form-button:hover {
    background-color: var(--hover-bg);
}

@media(max-width: 1023px) {
    .subscribe__container {
        flex-direction: column;
        row-gap: 40px;
    }

    .subscribe__block-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}